html,
body {
  box-sizing: content-box;
  .rtl {
    direction: rtl;
    text-align: right;
  }
}

body {
  background-color: #f1f1f1;
}

.gradient-primary {
  background: $primary-gradient;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 0 34px 10px;
    border-bottom: 1px solid $divider;
  }
}

.swiper-pagination-bullet-active {
  background-color: rgba(#ffffff, 0.5) !important;
}

.accordion-enter-active,
.accordion-leave-active {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  will-change: height;
}
.accordion-leave-to,
.accordion-enter {
  height: 0;
  opacity: 0;
}

.page-container {
  margin-top: 60px;
  margin-bottom: 75px;
}

.flex-layout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .page-container {
    flex: 1;
  }
}

.slide-enter-active, .slide-leave-active,
.slide-reverse-enter-active, .slide-reverse-leave-active {
  width: 100%;
  position: absolute;
  top: 278px;
  transition: all .5s;
}
.slide-enter {
  transform: translateX(100%);
}
.slide-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-reverse-enter {
  transform: translateX(-100%);
}
.slide-reverse-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

