html,
body {
  box-sizing: content-box;
  .rtl {
    direction: rtl;
    text-align: right;
  }
}

body {
  background-color: #f1f1f1;
}

.gradient-primary {
  background: $primary-gradient;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 0 34px 10px;
    border-bottom: 1px solid $divider;
  }
}

.swiper-pagination-bullet-active {
  background-color: rgba(#ffffff, 0.5) !important;
}

.accordion-enter-active,
.accordion-leave-active {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  will-change: height;
}
.accordion-leave-to,
.accordion-enter {
  height: 0;
  opacity: 0;
}