@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal Regular'),
  url('/fonts/Tajawal/Tajawal-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  src: local('Tajawal Light'),
  url('/fonts/Tajawal/Tajawal-Light.woff') format('woff');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: local('Tajawal Bold'),
  url('/fonts/Tajawal/Tajawal-Bold.woff') format('woff');
}
